{% extends "newslist/default.html" %}
{% load censor %}


{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"> Автор: {{ post.author }}, </a>
              <small class="text-muted">дата публикации: {{ post.date_posted|date:"d m Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title|censor_w }}</a></h2>
            <p class="article-content">{{ post.content|truncatechars:21|censor_w }}</p>

          </div>
        </article>
    {% endfor %}
{% endblock content %}
